%nav.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      %a.navbar-brand{ href: '/'}
        %img{alt: 'Mylanguage easy remember', src: ''}
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'Categories', categories_path
        %li= link_to 'Words', words_path
        - if user_signed_in?
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Origin
              = flag_icon(current_user.lang.flag)
              %span.caret
            %ul.dropdown-menu
              - langs.each do |lang|
                %li
                  %p
                    = flag_icon(lang.flag)
                    = link_to lang.name, lang_user_path(current_user.lang_id, current_user.id, user: { lang_id: lang.id }), method: :put
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Translate to
              = flag_icon(translate_to_flag.first.flag)
              %span.caret
            %ul.dropdown-menu
              - langs.each do |lang|
                %li
                  %p
                    = flag_icon(lang.flag)
                    = link_to lang.name, lang_user_path(current_user.lang_id, current_user.id, user: { translate_to: lang.id }), method: :put
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              Select category
              %span.caret
            %ul.dropdown-menu
              -categories.each do |category|
                %li= link_to category.name, category_user_path(current_user.category_id, id: current_user.id, user: { category_id: category.id }), method: :put
          %li
            %a{href: "#"} All my words

          %li.form-inline
            = bootstrap_form_for :search, url: search_results_path, method: :GET do |f|
              = f.search_field 'search', placeholder: 'Search', hide_label: true 
              = f.submit 'Search', class: 'btn btn-success'
          %li
            = link_to 'Info'
          %li.active
            = link_to 'LogOut', destroy_user_session_path, method: :delete
